.product-table {
  background-color: rgb(253, 237, 240);
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.singleProduct-table {
  align-items: center;
  background-color: rgb(238, 220, 220);
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  margin: 5px;
  width: 200px;
}

.img-product {
  width: 100px;
}
